manifest {
    homePage    = 'https://github.com/adeslatt/picard-filterSamReads'
    description = 'Nextflow implementation for subsetting a cram file with picard tools filterSamReads command'
    mainScript  = 'main.nf'
}

params {
    // Input files 
    input                 = false
    reference_sequence    = false
    run_name	          = false
    

    // Other
    outdir         = 'results'
    help           = false
    tracedir       = "${params.outdir}/pipeline_info"
    
}

process {
  withName: 'picardFilterSamReads' {
    container = 'pgc-images.sbgenomics.com/deslattesmaysa2/picard:v1.0'
  }
}

profiles {
  docker { 
    docker.enabled = true 
  }
}

dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
  fields = 'process,tag,name,status,exit,script'
}
